body{
    background-color:#121212;
    font-family:sans-serif;
}
.flex{
    display: flex;
}
header{
    justify-content: space-around;
    width: 100%;
    
}
#navbar{
    font-size: smaller;
    font-weight: 600;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
}
li{
    display: inline-block;
    padding: 0.75rem 1.25rem;
}
#button1{
    background-color: rgba(255,255,255,.25);
    border-radius: 0.75rem;
    border-color: transparent;
    padding: 0.5rem;
}
/* barner*/
#banner{
    justify-content: space-around;
 
}
#img-video{
    border-radius: 30%;   
}
#new-services{
        background-image: url("https://assets.website-files.com/5f747fc7980b0f825eca0539/5f7f87f8b6b607a20cba558e_mts%20card.jpg");
        background-size: cover;
        color: white;
        background-position: right;
        object-position: center;
        /* width: 250rem;
        height: 25rem; */
        margin-left: 2rem;
        margin-right: 2rem;
        border-radius: 10%;
        padding-top: 0%;
        padding-left: 9%;
        padding-right: 9%;
        padding-bottom: 9%;
        justify-content: space-between;
        flex-direction: column;
}
#tag1{
        display: inline-block;
        padding: 4px 8px;
        border-radius: 4px;
        background-color: #ffb262;
        box-shadow: 0 0 8px 0 #ffb262;
}
#tag2{
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    background-color:#026ee2;
    box-shadow: 0 0 8px 0 #026ee2;
}
#button2{
    background-color: transparent;
    color: white;
    border-radius: 0.75rem;
    padding: 0.75rem 2.1875rem;
}
#new-products{
    background-image: url("assets/new-products.jpg");
    object-fit: cover;
    background-position: center;
    color: white;
    width: 350rem;
    height: 25rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 10%;
    padding: 9%;
    padding-top: 0%;
    justify-content: space-between;
    flex-direction: column;
}
#product-update{
    background-image: url("https://assets.website-files.com/5f747fc7980b0f825eca0539/5f7f87f8b6b607290cba5589_nav%20card.jpg");
    object-fit: cover;
    background-position: center;
    color: white;
    width: 250rem;
    height: 25rem;
    border-radius: 10%;
    padding: 9%;
    padding-top: 0%;
    justify-content: space-between;
    flex-direction: column;
}
/* main section*/
#main{
    color: white;
    text-align: center;
    font-size: 0.875rem;
    
}
#main>h1{
    font-weight: bolder;
    font-size: 4rem;
    line-height: 0.9;
}
#main>p{
    color: #90bdd0;
    font-size: 1.2rem;
}
#button3{
    padding: 0.75rem 2.1875rem;
    background-color: #007afc;
    color: white;
    border-radius: 6.25rem;
    border-color: transparent;
}
/* MAPS*/
#map{
    
    text-align: center;
    font-size: 0.875rem;
    
    
}
#map>h2{
    color: white;
    font-weight: bolder;
    font-size: 4rem;
    line-height: 0.9;
}
#map>p{
    color: #90bdd0;
    font-size: 1.2rem;
}
#map-image{
    justify-content: space-around;
}
#bottom{
    align-self: flex-end;
    margin-left: 3em;
    margin-right: 3rem;
}
