body{
    background-color:#121212;
    font-family:sans-serif;
}
.flex{
    display: flex;
}
header{
    justify-content: space-around;
    width: 100%;
    
}
#navbar{
    font-size: smaller;
    font-weight: 600;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
}
li{
    display: inline-block;
    padding: 0.75rem 1.25rem;
}
#button1{
    background-color: rgba(255,255,255,.25);
    border-radius: 0.75rem;
    border-color: transparent;
    padding: 0.5rem;
}
/* barner*/
#banner{
    justify-content: space-around;
 
}
#img-video{
    border-radius: 30%;   
}
#new-services{
        background-image: url("https://assets.website-files.com/5f747fc7980b0f825eca0539/5f7f87f8b6b607a20cba558e_mts%20card.jpg");
        background-size: cover;
        color: white;
        background-position: right;
        object-position: center;
        /* width: 250rem;
        height: 25rem; */
        margin-left: 2rem;
        margin-right: 2rem;
        border-radius: 10%;
        padding-top: 0%;
        padding-left: 9%;
        padding-right: 9%;
        padding-bottom: 9%;
        justify-content: space-between;
        flex-direction: column;
}
#tag1{
        display: inline-block;
        padding: 4px 8px;
        border-radius: 4px;
        background-color: #ffb262;
        box-shadow: 0 0 8px 0 #ffb262;
}
#tag2{
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    background-color:#026ee2;
    box-shadow: 0 0 0.5rem 0 #026ee2;
}
#button2{
    background-color: transparent;
    color: white;
    border-radius: 0.75rem;
    padding: 0.75rem 2.1875rem;
}
#new-products{
    background-image: url("assets/new-products.jpg");
    object-fit: cover;
    background-position: center;
    color: white;
    width: 350rem;
    height: 25rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 10%;
    padding: 9%;
    padding-top: 0%;
    justify-content: space-between;
    flex-direction: column;
}
#product-update{
    background-image: url("https://assets.website-files.com/5f747fc7980b0f825eca0539/5f7f87f8b6b607290cba5589_nav%20card.jpg");
    object-fit: cover;
    background-position: center;
    color: white;
    width: 250rem;
    height: 25rem;
    border-radius: 10%;
    padding: 9%;
    padding-top: 0%;
    justify-content: space-between;
    flex-direction: column;
}
/* main section*/
#main{
    color: white;
    text-align: center;
    font-size: 0.875rem;
    
}
#main>h1{
    font-weight: bolder;
    font-size: 4rem;
    line-height: 0.9;
}
#main>p{
    color: #90bdd0;
    font-size: 1.2rem;
}
#button3{
    padding: 0.75rem 2.1875rem;
    background-color: #007afc;
    color: white;
    border-radius: 6.25rem;
    border-color: transparent;
}
/* MAPS*/
#map{
    
    text-align: center;
    font-size: 0.875rem;
    
    
}
#map>h2{
    color: white;
    font-weight: bolder;
    font-size: 4rem;
    line-height: 0.9;
}
#map>p{
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #90bdd0;
    
}
#map-image{
    justify-content: space-around;
}
#bottom{
    align-self: flex-end;
    margin-left: 3em;
    margin-right: 3rem;
}
/* mapbox-studio */
#mapbox-studio{
    justify-content: space-around;
    margin-top: 15rem;
}
#mapbox-studio>div h4{
    color: white;
    font-size: 4rem;
    line-height: 0.9;
}
#mapbox-studio>div p{
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #90bdd0;
}
#studio-words{
    align-self: center;
}

/* navigation*/

#navigation{
    margin-top: 10rem;
    margin-left: 5rem;
}
#navH2{
color: white;
font-size: 4rem;
}
#navP{
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #90bdd0;
}
#tab-image{
    margin-bottom: -10rem;
}
#phone-image{
    margin-top: -300rem;
    margin-right: -5rem;
}

/*search*/
#search{
    margin-top: 20rem;
    justify-content: space-around;
}
#search-words>h2{
    font-size: 4rem;
    color: white;
}
#search-words>p{
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #90bdd0;
}

/*straight-away*/
#straight-away{
    background-color: #2e2bb8;
    justify-content: end;
    padding-left: 10%;
    border-radius: 2rem;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-top: 10%;
    margin-bottom: 10%;
}

#tag3{
    display: inline-block;
    margin-bottom: 2.4rem;
    padding: 4px 8px;
    border-radius: 4px;
    background-color:white;
    box-shadow: 0 0 0.5rem 0 white;
}
#straight-away-P{
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: white;
}
/* #straight-away-image{
} */

/* VISION */
#vision{
    justify-content: space-around;
}
#vision-words>h2{
    font-size: 4rem;
    color: white;
}
#vision-words>p{ 
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #90bdd0;  
}

/* DATA */
#data{
    justify-content: space-around;
    margin-top: 10%;
    margin-bottom: 10%;
}
#data-words>h2{
    font-size: 4rem;
    color: white;
}
#data-words>p{
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #90bdd0;
}
/* MAPBOX PLATFORMS */

#mapbox-platform>h2{
    font-size: 3.5rem;
    line-height: 1.1em;
    text-align: center;
    color: white;
}

.grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1rem;
    padding: 1rem;
  }

  .grid>div{
    height: 21rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: #202020;
}
 .grid>#platform:hover{
    background-color: #007afc;
    height: 21rem;
    padding: 0.5rem;
    border-radius: 1rem;
}
#platform>h3{
    color: white;
    font-weight: 700;
}
/* SHOWCASE*/
#show-case{
    flex-direction: column;
    justify-content: space-around;
    background-color: #1b1b1b;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
}
#show-case>h2{
    font-size: 3.5rem;
    line-height: 1.1em;
    text-align: center;
    color: white;
}
#case1{
    justify-content: space-around;
}

#snap{
    background-color: #fff95f;
    height: 26rem;
    width: 35rem;
    /* max-height: 37vw; */
     padding-top: 54px;
    /* padding-right: 24px; */
    padding-left: 1rem; 
    border-radius: 24px;
}
#strava{
    background-color: #616347;
    border-radius: 1.5rem;
    width: 35rem;
    
}
#case2{
    justify-content: space-around;
    margin-top: 5%;
}
