body{
    background-color:#121212;
    font-family:sans-serif;
}
.flex{
    display: flex;
}
header{
    justify-content: space-around;
    width: 100%;
    
}
#navbar{
    font-size: smaller;
    font-weight: 600;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
}
#head{
    display: inline-block;
    padding: 0.75rem 1.25rem;
}
#button1{
    background-color: rgba(255,255,255,.25);
    border-radius: 0.75rem;
    border-color: transparent;
    padding: 0.5rem;
}
/* banner*/
#banner{
    justify-content: space-around;
    margin-top: 10%;
 
}
#img-video{
    border-radius: 30%;
    padding-top: 0%;
    padding-left: 4%;
    padding-bottom: 4%; 
}
#new-services{
        background-image: url("https://assets.website-files.com/5f747fc7980b0f825eca0539/5f7f87f8b6b607a20cba558e_mts%20card.jpg");
        background-size: cover;
        color: white;
        background-position: center;
        object-position: center;
        height: 25rem;
        margin-left: 2rem;
        margin-right: 2rem;
        border-radius: 10%;
        padding-top: 0%;
        padding-left: 4%;
        padding-right: 10%; 
        padding-bottom: 4%;
        justify-content: space-between;
        flex-direction: column;
}
#tag1{
        display: inline-block;
        padding: 4px 8px;
        border-radius: 4px;
        background-color: #ffb262;
        box-shadow: 0 0 8px 0 #ffb262;
}
#tag2{
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    background-color:#026ee2;
    box-shadow: 0 0 0.5rem 0 #026ee2;
}
#button2{
    background-color: transparent;
    color: white;
    border-radius: 0.75rem;
    padding: 0.75rem 2.1875rem;
}
#new-products{
    background-image: url("assets/new-products.jpg");
    object-fit: cover;
    background-position: center;
    color: white;
    width: 350rem;
    height: 25rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 10%;
    padding-top: 0%;
    padding-left: 4%;
    padding-right: 10%; 
    padding-bottom: 4%;
    justify-content: space-between;
    flex-direction: column;
}

#self-center{
    align-self: flex-start;
}

#product-update{
    background-image: url("https://assets.website-files.com/5f747fc7980b0f825eca0539/5f7f87f8b6b607290cba5589_nav%20card.jpg");
    object-fit: cover;
    background-position: center;
    color: white;
    width: 250rem;
    height: 25rem;
    border-radius: 10%;
    padding-top: 0%;
    padding-left: 4%;
    padding-right: 10%; 
    padding-bottom: 4%;
    justify-content: space-between;
    flex-direction: column;
}

/* main section*/
#main{
    color: white;
    text-align: center;
    font-size: 0.875rem;
    
}
#main>h1{
    font-weight: bolder;
    font-size: 4rem;
    line-height: 0.9;
}
#main>p{
    color: #90bdd0;
    font-size: 1.2rem;
}
#button3{
    padding: 0.75rem 2.1875rem;
    background-color: #007afc;
    color: white;
    border-radius: 6.25rem;
    border-color: transparent;
}
/* MAPS*/
#map{
    
    text-align: center;
    font-size: 0.875rem;
    
    
}
#map>h2{
    color: white;
    font-weight: bolder;
    font-size: 4rem;
    line-height: 0.9;
}
#map>p{
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #90bdd0;
    
}
#map-image{
    justify-content: space-around;
}
#bottom{
    align-self: flex-end;
    margin-left: 3em;
    margin-right: 3rem;
}
/* mapbox-studio */
#mapbox-studio{
    justify-content: space-around;
    margin-top: 15rem;
    margin-left: 1rem;
}
#mapbox-studio>div h4{
    color: white;
    font-size: 4rem;
    line-height: 0.9;
}
#mapbox-studio>div p{
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #90bdd0;
}
#studio-words{
    align-self: center;
    margin-left: 1rem;
}

/* navigation*/

#navigation{
    margin-top: 10rem;
    margin-left: 5rem;
}
#navH2{
color: white;
font-size: 4rem;
}
#navP{
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #90bdd0;
}
#tab-image{
    margin-bottom: -10rem;
}
#phone-image{
    margin-top: -100rem;
    margin-right: -5rem;
} 

/*search*/
#search{
    margin-top: 20rem;
    justify-content: space-around;
}
#search-words>h2{
    font-size: 4rem;
    color: white;
}
#search-words>p{
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #90bdd0;
}

/*straight-away*/
#straight-away{
    background-color:white;
    justify-content: space-between;
    padding-left: 10%;
    border-radius: 2rem;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-top: 10%;
    margin-bottom: 10%;
}

#tag3{
    display: inline-block;
    margin-bottom: 2.4rem;
    padding: 4px 0.5rem;
    border-radius: 4px;
    background-color: #2e2bb8;
    box-shadow: 0 0 0.5rem 0 #2e2bb8;
}
#straight-away-P{
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: black;
}
#straight-away-image{
    margin-right: -20rem;
    margin-bottom: 0%;
} 
#button4{
    background-color: transparent;
    color:black;
    border-radius: 0.75rem;
    padding: 0.75rem 2.1875rem;
}

/* VISION */
#vision{
    justify-content: space-around;
}
#vision-words>h2{
    font-size: 4rem;
    color: white;
}
#vision-words>p{ 
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #90bdd0;  
}

/* DATA */
#data{
    justify-content: space-around;
    margin-top: 10%;
    margin-bottom: 10%;
}
#data-words>h2{
    font-size: 4rem;
    color: white;
}
#data-words>p{
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #90bdd0;
}

/* ATLAS */
#atlas{
    justify-content: space-around;
    margin-top: 10%;
    margin-bottom: 10%;
}#atlas-words{
    margin-left: 4%;
}
#atlas-words>h2{
    font-size: 4rem;
    color: white;
}
#atlas-words>p{ 
    font-size: 1.5rem;
    line-height: 2rem;
    color: #90bdd0;
    margin-left: 2%; 
}

/* MAPBOX PLATFORMS */

#mapbox-platform>h2{
    font-size: 3.5rem;
    line-height: 1.1em;
    text-align: center;
    color: white;
}

.grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1rem;
    padding: 1rem;
  }

  .grid>div{
    height: 21rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: #202020;
}
 .grid>#platform:hover{
    background-color: #007afc;
    height: 21rem;
    padding: 0.5rem;
    border-radius: 1rem;
    transform: scale(0.8);
    transition:all 1ms ;
}
#platform>h3{
    color: white;
    font-weight: 700;
}
/* SHOWCASE*/
#show-case{
    flex-direction: column;
    justify-content: space-around;
    background-color: #1b1b1b;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
}
#show-case>h2{
    font-size: 3.5rem;
    line-height: 1.1em;
    text-align: center;
    color: white;
}
#case1{
    justify-content: space-around;
}

#snap{
    background-color: #fff95f;
    background-image: url("https://assets.website-files.com/5f747fc7980b0f825eca0539/5f74f368358bcf0a058b992b_snap.png");
    background-repeat: no-repeat;
    background-position-x:center ;
    background-position-y:13rem ;
    background-size: 20rem;
    height: 26rem;
    width: 35rem;
    padding-top: 54px;
    padding-left: 1rem; 
    border-radius: 24px;
}
#strava{
    background-image: url("https://assets.website-files.com/5f747fc7980b0f825eca0539/5f74f5b2c5539a3efa41054c_strava.png");
    background-color: #616347;
    border-radius: 1.5rem;
    width: 35rem;
    padding: 24px;
} 
#case2{
    justify-content: space-around;
    margin-top: 2.5%;
}
#weather{
    background-image: url("https://assets.website-files.com/5f747fc7980b0f825eca0539/5f74f665ada191d7a6b9b988_twc.jpeg");
    background-repeat: no-repeat;
    border-radius: 1.5rem;
    width: 35rem;
    padding: 1.5rem;
}
#shopfy{
    background-color: #e2e2e2;
    background-image: url("https://assets.website-files.com/5f747fc7980b0f825eca0539/5f74f725fef3e36d6257ccb6_shopyfy.png");
    background-repeat: no-repeat;
    background-position-x:center ;
    background-position-y:10rem ;
    background-size: 10rem;
    border-radius: 1.5rem;
    width: 35rem;
    height: 20rem;
    padding: 2%;
}
#shopfy-logo{
    align-self: flex-start;
}
#case-button{
    text-align: center;
    padding-top: 2%;
}

/*FOOTER */
#footer{
    justify-content: space-around;
    background-color: #121212;

}
#h2footer{
    font-size: 0.75rem;
    line-height: 1rem;
    color: white;
}
#lifooter{
    line-height: 2rem;
}
#lifooter a{
    color: #9ba2b2;
    font-size: 0.8rem;
}
#lifooter a:hover{
    color: #007afc;
}
#ul-footer{
    margin-left: -2.5rem;
}
#footer-end{
    justify-content: space-between;
    color: #9cacb4;
    font-size: 0.8rem;
    padding: 4rem;
}
#footer-end>div a{
    padding: 1rem;
    color: #9cacb4;
}
#social-media>a:hover{
    color: #007afc;
}
